<!--The content below is only a placeholder and can be replaced.-->
<header>
  <img src="/assets/bannerlogo.png" />
  <span class="title">Ejercicios Angular</span>
</header>
<body>
  <div class="menu">
    <a href="">
      <div class="option">
        I
      </div>
    </a>
    <a href="e1">
      <div class="option">
        II
      </div>
    </a>
    <div class="option">
      III
    </div>
    <div class="option">
      IV
    </div>
    <div class="option">
      V
    </div>
    <div class="option">
      VI
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</body>
